* {
    font-family:"Comic Neue", "Comic Sans MS", cursive;
}
body{
    background-image:url('https://images8.alphacoders.com/555/thumb-1920-555560.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
}

.box{
    background-color:white;
    border-radius:2rem;
    color:black;
    margin-left:auto;
    margin-right:auto;
    width:60%;
    margin-top: 3rem;
    margin-bottom:3rem;
    padding:2rem;
}

#list{
    background-color:rgb(232, 231, 231);
    border:solid rgb(130, 129, 129);
    border-radius:0.5rem;
    padding:1rem;
}

footer{
    text-align:center;
}

.star{
    color:gray; 
    transition: color 0.2s;
}

.stars{
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    cursor: pointer;
}

.star.selected, .star:hover{
    color:gold;
}

#rateOutput{
    color:black;
}

#addbtn {
    background-color:rgb(170, 170, 219);
    color:white;
    margin:0 auto;
    display:block;
    width:80%;
    height:2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

#deletebtn {
    color:black;
    border-radius:0.5rem;
    cursor:pointer;
}

input[type="textbox"]{  
    width:80%;
}

h1{
    text-align:center;
}

@media(max-width:480px){
    .star{
        font-size:1.5rem;
    }
}
